.messages__container {
	display: flex;
	padding: 10px;
	font-size: 20px;
}

.dialogs {
	flex: 0 1 200px;
	padding: 10px;
}

.messages {
	padding: 10px;
	flex: 1 1 auto;
}

.message,
.dialog {
	margin: 20px;
}
